.shirt {
    width: 60px;
    margin: auto;
}

p {
    margin: 0px;
    background-color: lavender;
    text-align: center;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 0;
}

.wrapper {
    position: relative;
    width: 430px;
    display: block;
    height: 100%;
    float: left;
    margin-right: 20px;
}

.team {
    width: 400px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 27px;
}

.team div {
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 35px;
}

.teamInfo {
    display: block;
}

h2 {
    color: #8A1538;
    margin-top: 5px;
    margin-bottom: 5px;
}

#strategy {
    width: 300px;
    height: 60px;
}

.players {
    width: 300px;
}

.formField {
    margin-bottom: 10px;
    display: block;
}

.formField img{
    width: 60px;
    display: block;
}