<div class="wrapper">
    <img class="pitch" src="../../../assets/images/imgFootballPitch.jpg">
    <div class="team">
        <div>
            <ul id="playersGK">
                <li>
                    <img class="shirt" src="../../../assets/images/imgTShirt.png">
                    <p>Player name</p>
                </li>
            </ul>
        </div>
        <div>
            <ul id="playersDF">
                <li>
                    <img class="shirt" src="../../../assets/images/imgTShirt.png">
                    <p>Player name</p>
                </li>
                <li>
                    <img class="shirt" src="../../../assets/images/imgTShirt.png">
                    <p>Player name</p>
                </li>
                <li>
                    <img class="shirt" src="../../../assets/images/imgTShirt.png">
                    <p>Player name</p>
                </li>
                <li>
                    <img class="shirt" src="../../../assets/images/imgTShirt.png">
                    <p>Player name</p>
                </li>
            </ul>
        </div>
        <div>
            <ul id="playersMF">
                <li>
                    <img class="shirt" src="../../../assets/images/imgTShirt.png">
                    <p>Player name</p>
                </li>
                <li>
                    <img class="shirt" src="../../../assets/images/imgTShirt.png">
                    <p>Player name</p>
                </li>
                <li>
                    <img class="shirt" src="../../../assets/images/imgTShirt.png">
                    <p>Player name</p>
                </li>
                <li>
                    <img class="shirt" src="../../../assets/images/imgTShirt.png">
                    <p>Player name</p>
                </li>
            </ul>
        </div>
        <div>
            <ul id="playersFW">
                <li>
                    <img class="shirt" src="../../../assets/images/imgTShirt.png">
                    <p>Player name</p>
                </li>
                <li>
                    <img class="shirt" src="../../../assets/images/imgTShirt.png">
                    <p>Player name</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div>
    <h2>Create your dream team</h2>
    <form>
        <label for="name">Team Name</label>
        <input type="text" name="name" id="name">
        <br>
        <div>
            <label for="html">Emblem 1</label>
            <input type="radio" id="emblem1" name="emblem" value="emblem1">
            <br>
            <label for="css">Emblem 2</label>
            <input type="radio" id="emblem2" name="emblem" value="emblem2">
        </div>
        <br>
        <label for="strategy">Strategy</label>
        <input type="text" name="strategy" id="strategy">
        <br>
        <select id="players" size="10">
            <option value="1">Messi</option>
        </select>
        <button>Add player</button>

    </form>
</div>