<h2>All Dream Teams</h2>
<div class="searchFields"></div>
<div *ngIf="allTeams">
    <ul>
        <li *ngFor="let team of allTeams">
            <div class="team">
                <img *ngIf="team.emblem === 'emblem1'" src="../../../assets/images/emblem1.png">
                <img *ngIf="team.emblem === 'emblem2'" src="../../../assets/images/emblem2.png">
                <h4>{{team.name}}</h4>
                <p>{{team.ownerEmail}}</p>
                <p *ngIf="team.ratings">{{team.ratings | avgRating | number: '0.2' }}</p>
                <p *ngIf="!team.ratings">Team not rated yet</p>
                <button *ngIf="userData.user.id === team.owner" routerLink="/dream-teams/my-team">View More</button>
                <button *ngIf="userData.user.id !== team.owner"routerLink="/dream-teams/details/{{team.id}}">View More</button>
            </div>
        </li>
    </ul>
</div>
<div *ngIf="!allTeams">
    Loading...
</div>