<h2>All Dream Teams</h2>
<div class="searchFields"></div>
<div>
    <ul>
        <li>
            <div class="team">
                <img src="../../../assets/images/emblem1.png">
                <h4>Team Name</h4>
                <p>Team Owner</p>
                <p>Team Rating</p>
                <button>View More</button>
            </div>
        </li>
        <li>
            <div class="team">
                <img src="../../../assets/images/emblem1.png">
                <h4>Team Name</h4>
                <p>Team Owner</p>
                <p>Team Rating</p>
                <button>View More</button>
            </div>
        </li>
        <li>
            <div class="team">
                <img src="../../../assets/images/emblem1.png">
                <h4>Team Name</h4>
                <p>Team Owner</p>
                <p>Team Rating</p>
                <button>View More</button>
            </div>
        </li>
    </ul>
</div>