header img {
    width: 100px;
    display: inline-block;
    padding: 5px;
}

header {
    height: 80px;
}

footer p {
    color: white;
    font-size: 12px;
    margin-top: auto;
    background-color: #8A1538; 
    padding: 10px;
}