<header style="background-color:#8A1538;">
  <img src="../assets/images/imgLogo.png" alt="logo">
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/dream-teams">Dream Teams</a></li>
      <li><a routerLink="/players">Players</a></li>
      <li *ngIf="isLogged"><a routerLink="/my-team">My Team</a></li>
      <li *ngIf="isLogged"><a routerLink="" (click)="logout()">Logout</a></li>
      <li *ngIf="!isLogged"><a routerLink="/login">Login</a></li>
      <li *ngIf="!isLogged"><a routerLink="/register">Register</a></li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div>
    <p>Qatar World Cup 2022 - Dream Teams by Georgi Donkov</p>
  </div>
</footer>