<div class="wrapper">
    <img class="pitch" src="../../../assets/images/imgFootballPitch.jpg">
    <div class="team">
        <div>
            <ul id="playersGK">
                <li>
                    <img class="shirt" src="../../../assets/images/imgTShirt.png">
                    <p>Player name</p>
                </li>
            </ul>
        </div>
        <div>
            <ul id="playersDF">
                <li>
                    <img class="shirt" src="../../../assets/images/imgTShirt.png">
                    <p>Player name</p>
                </li>
                <li>
                    <img class="shirt" src="../../../assets/images/imgTShirt.png">
                    <p>Player name</p>
                </li>
                <li>
                    <img class="shirt" src="../../../assets/images/imgTShirt.png">
                    <p>Player name</p>
                </li>
                <li>
                    <img class="shirt" src="../../../assets/images/imgTShirt.png">
                    <p>Player name</p>
                </li>
            </ul>
        </div>
        <div>
            <ul id="playersMF">
                <li>
                    <img class="shirt" src="../../../assets/images/imgTShirt.png">
                    <p>Player name</p>
                </li>
                <li>
                    <img class="shirt" src="../../../assets/images/imgTShirt.png">
                    <p>Player name</p>
                </li>
                <li>
                    <img class="shirt" src="../../../assets/images/imgTShirt.png">
                    <p>Player name</p>
                </li>
                <li>
                    <img class="shirt" src="../../../assets/images/imgTShirt.png">
                    <p>Player name</p>
                </li>
            </ul>
        </div>
        <div>
            <ul id="playersFW">
                <li>
                    <img class="shirt" src="../../../assets/images/imgTShirt.png">
                    <p>Player name</p>
                </li>
                <li>
                    <img class="shirt" src="../../../assets/images/imgTShirt.png">
                    <p>Player name</p>
                </li>
            </ul>
        </div>
    </div>

</div>
<div *ngIf="teamView" class="wrapper">
    <h2>Edit your dream team</h2>
    <form #editForm="ngForm" (ngSubmit)="editTeamHandler(editForm.value)">
        <div class="formField">
            <label for="name">Team Name</label> <br>
            <input type="text" name="name" id="name" [ngModel]="teamView.name">
        </div>

        <div class="formField">
            <label for="emblem">Emblem 1</label>
            <input #emblem1 checked type="radio" id="emblem1" name="emblem" value="emblem1" [ngModel]="teamView.emblem">
            <br>
            <label for="emblem">Emblem 2</label>
            <input #emblem2 type="radio" id="emblem2" name="emblem" value="emblem2" [ngModel]="teamView.emblem">
            <img src="../../../assets/images/emblem1.png">
        </div>

        <div class="formField">
            <label for="strategy">Strategy</label> <br>
            <textarea name="strategy" id="strategy" cols="30" rows="10" [ngModel]="teamView.strategy"></textarea>
        </div>

        <div class="formField">
            <label for="playersGK">Goalkeeper</label> <br>
            <select class="players" id="playersGK" name="playersGK" size="6" multiple [ngModel]="teamView.playersGK">
                <option *ngFor="let plGK of allGK" value="{{plGK.id}}">{{plGK.name}}</option>
            </select>
        </div>

        <div class="formField">
            <label for="playersDF">Defence</label> <br>
            <select class="players" id="playersDF" name="playersDF" size="6" multiple [ngModel]="teamView.playersDF">
                <option *ngFor="let plDF of allDF" value="{{plDF.id}}">{{plDF.name}}</option>
            </select>
        </div>

        <div class="formField">
            <label for="playersMF">Midfield</label> <br>
            <select class="players" id="playersMF" name="playersMF" size="6" multiple [ngModel]="teamView.playersMF">
                <option *ngFor="let plMF of allMF" value="{{plMF.id}}">{{plMF.name}}</option>
            </select>
        </div>

        <div class="formField">
            <label for="playersFW">Forward</label> <br>
            <select class="players" id="playersFW" name="playersFW" size="6" multiple [ngModel]="teamView.playersFW">
                <option *ngFor="let plFW of allFW" value="{{plFW.id}}">{{plFW.name}}</option>
            </select>
        </div>

        <br>
        <button>Update Team</button>
    </form>
</div>