<div>
    <img src="../../../assets/images/imgMain.png" alt="imgMain">
</div>
<div class="topSection">
    <ul>
        <li>
            <div class="topCard">
                <h3>1st place</h3>
                <img src="../../assets/images/emblem1.png">
                <p>Team name</p>
                <p>Team rating</p>
                <button routerLink="/dream-teams/details/1">View More</button>
            </div>
        </li>
        <li>
            <div class="topCard">
                <h3>2nd place</h3>
                <img src="../../assets/images/emblem2.png">
                <p>Team name</p>
                <p>Team rating</p>
                <button routerLink="/dream-teams/details/2">View More</button>
            </div>
        </li>
        <li>
            <div class="topCard">
                <h3>3rd place</h3>
                <img src="../../assets/images/emblem1.png">
                <p>Team name</p>
                <p>Team rating</p>
                <button routerLink="/dream-teams/details/3">View More</button>
            </div>
        </li>
    </ul>
</div>