<h2>Register</h2>
<div *ngIf="errorBox" class="errorBox">{{errorBox}}</div>
<form #registerForm="ngForm" (ngSubmit)="handleRegister(registerForm.value, registerForm)">
    <div>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" ngModel required email #emailInput="ngModel">
        <small *ngIf="emailInput.invalid && emailInput.touched">Valid email is required.</small>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" ngModel required #passwordInput="ngModel" minlength="6">
        <small *ngIf="passwordInput.errors?.['required'] && passwordInput.touched">Password is required.</small>
        <small *ngIf="passwordInput.errors?.['minlength'] && passwordInput.touched">Password must be at least 6 characters long.</small>
    </div>
    <div>
        <label for="repass">Repeat Password</label>
        <input type="password" name="repass" id="repass" ngModel #repassInput="ngModel">
        <small *ngIf="passwordInput.value !== repassInput.value && repassInput.touched">Passwords must match.</small>
    </div>
    <button [disabled]="registerForm.invalid || passwordInput.value !== repassInput.value">Register</button>
</form>
<div>Already have an account? Login <a routerLink="/login">here</a></div>