<div *ngIf="teamView">
    <div class="wrapper">
        <img class="pitch" src="../../../assets/images/imgFootballPitch.jpg">
        <div class="team">
            <div>
                <ul id="playersGK">
                    <li *ngFor="let p of selectedGK">
                        <img class="shirt" src="../../../assets/images/imgTShirt.png">
                        <p>{{p.name}}</p>
                    </li>
                </ul>
            </div>
            <div>
                <ul id="playersDF">
                    <li *ngFor="let p of selectedDF">
                        <img class="shirt" src="../../../assets/images/imgTShirt.png">
                        <p>{{p.name}}</p>
                    </li>
                </ul>
            </div>
            <div>
                <ul id="playersMF">
                    <li *ngFor="let p of selectedMF">
                        <img class="shirt" src="../../../assets/images/imgTShirt.png">
                        <p>{{p.name}}</p>
                    </li>
                </ul>
            </div>
            <div>
                <ul id="playersFW">
                    <li *ngFor="let p of selectedFW">
                        <img class="shirt" src="../../../assets/images/imgTShirt.png">
                        <p>{{p.name}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="mainInfo">
            <h2>{{teamView.name}}</h2>
            <img *ngIf="teamView.emblem === 'emblem1'" src="../../../assets/images/emblem1.png">
            <img *ngIf="teamView.emblem === 'emblem2'" src="../../../assets/images/emblem2.png">
            <p>Strategy: {{teamView.strategy}}</p>
            <p *ngIf="teamView.ratings">Rating: {{teamView.ratings | avgRating | number: '0.2'}}</p>
            <p *ngIf="!teamView.ratings">Rating: Not rated yet</p>
        </div>
        <button routerLink="edit/{{teamView.id}}">Edit Team</button>
        <button (click)="deleteTeamHandler(teamView.id)">Delete Team</button>
    </div>
</div>
<div *ngIf="!teamView">
    Loading...
</div>